<p style="color: green"><%= notice %></p>

<%= link_to "Back to notes", notes_path %>

<%= render @note %>

<%= link_to "Back to notes", notes_path %>
<% if user_signed_in? && current_user.role == 'admin'%>
<div>
  <%= link_to "Edit this note", edit_note_path(@note) %> |

  <%= button_to "Destroy this note", @note, method: :delete %>
</div>
<% end %>
