<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "edit", edit_post_path(@post) %> |
  <%= link_to "back", posts_path %>

  <%= button_to "DESTROY", @post, method: :delete %>
</div>
