<p style="color: green"><%= notice %></p>

<%= link_to "back", posts_path %>
<%= render @post %>
<%= link_to "back", posts_path %>

<% if user_signed_in? && current_user.role == 'admin'%>
  <div>
  <%= link_to "edit", edit_post_path(@post) %> |
  

  <%= button_to "DESTROY", @post, method: :delete %>
</div>
<% end %>